<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <p>The first thing you do is check your pockets. You have nothing but an <b>old pocket watch</b> given by your grandfather, <b>a piece of tinfoil</b> from your leftoever burrito, <b>a coin</b>, and <b>a safety pin</b>. It's not much.</p>
        <p>You open the pocket watch, to check for any semblance of time, but a piece of paper falls loosely from it instead. Unfurling the piece of paper, you see a message: <i>"Find the island's owner. That's the key."</i> The island's owner? 
            Looking up to see the dense, thick, jungle awaiting you, you can either decide to go into the jungle in search of the island's owner, or you can forage the shore to find a way to escape.</p>
            <a href="/jungle"><button class="button button1">Jungle</button></a>
            <a href="/shore"><button class="button button2">Shore</button></a>
    </body>
</html>