<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You remember your safety pin that you could use to pick the lock. What do you do?</p>
        <a href="/safetypin"><button class="button button1">Pick the Lock</button></a>
        <a href="/wait"><button class="button button2">Dont use the safety pin and wait</button></a>
    </body>
</html>