<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You sit on a bench and open the bag of cheesy delight. You count them and you find precisely 21 cheetos, which look a little funky but oh well. How many cheetos do you plan on eating? Do you want to ration them? Or do you want to finish them so you don't have to carry around excess luggage?</p>
        <form method="post">
            <label for="cheetos">Number of cheetos you will eat:</label>
            <br />
            <input type="number" name="cheetos">
            <br />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>