<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>You start to feel queasy in your stomach. Uh oh. Your recurring diarrhea has come back, and it's here to stay. Seems like {{num_cheetos}} questionable cheetos were too much for you.</p>
        <p>Unable to handle the constipation, and lack of bathroom, you die.</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to Play again</button></a>
    </body>
</html>