<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>Your stomach grumbles a little weirdly after consuming {{num_cheetos}} questionable cheetos, but it's nothing you can't handle.</p>
        <p>You tuck the remaining cheeto packet in your pocket, and continue on your treak forward.</p>
        <p>As you push another leaf aside, you hear a thump beside you. Looking to the side, you see a coconut! As you're about to reach for the coconut (maybe more sustenance for you), you hear a chitter.</p>
        <p>There's a monkey. Right beside you. It stares, and you stare back. More specifically, it looks like it's staring at you and your coconut. Or the cheeto packet sneaking of your pocket.</p>
        <p>What do you do?</p>
        <a href="/moncoco"><button class="button button1">Give him the coconut</button></a>
        <a href="/moncheetos"><button class="button button2">Give him a cheeto</button></a>
        <a href="/monsnickers"><button class="button button1">Give him a snickers</button></a>
        <a href="/monnothing"><button class="button button1">Don't give him anything</button></a>
    </body>
</html>