<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You go around looking for something to hold water in. You hear a monkey somewhere, and a coconut drops in front of you. Hmm.</p>
        <p>You break the coconut in half, and drink the small amount of water in it. The white insides of the coconut look especially delectable.</p>
        <p>You use this: to scoop it up.</p>
        <a href="/streamsurvive"><button class="button button1">Use the tinfoil</button></a>
    </body>
</html>