<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You drink from the cup of foil, but a little later you feel queasy.</p>
        <p>Sadly, you have fallen prey to water poisoning.</p>
        <p>You have died.</p>
        <a href="/base"><button class="button button2">Click here to Play again</button></a>
    </body>
</html>