<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You make a cup out of the tinfoil, and you realize your origami skills have finally come to use. You fill it up with water and continue on your way.</p>
        <p>But uh oh! You realize the burrito you had once eaten was two weeks old, and the foil is moldy! But the cup is now the only source of water you have on you!</p>
        <p>You can drink from the cup anyway (your stomach can probably handle it, and it's the only water you have left), or you can throw the cup away. What do you do?</p>
        <a href="/drink"><button class="button button1">Drink from the cup</button></a>
        <a href="/streamsurvive"><button class="button button2">Throw the cup away</button></a>
    </body>
</html>