<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/failshore.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>Unfortunately, as you are walking on the shore, a coconut from a overhead palm tree drops and falls on your head. You crumple to the ground and pass away from your head injury.</p>
        <p>Maybe the island never meant for you to leave without exploring the jungle...</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
    </body>
</html>