<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You give the driver a coin and he drives you to a gorgeous house, and subsequently abandons you there.</p>
        <p>You approach the house with hesitancy as the driver drives off, but it looks like no one is home. What do you do?</p>
        <a href="/breakin"><button class="button button1">Break into the house</button></a>
        <a href="/wait"><button class="button button2"> Wait until someone comes home</button></a>
    </body>
</html>