<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>The monkey brings you to a gorgeous house. With another encouraging pat on the shoulder, he tells you to head on in.</p>
        <p>The two of you share a heartfelt parting. The monkey sheds tears and keeps the cheeto bag as a remembrance token to you.</p>
        <p>One the monkey leaves, you ponder if you should wait outside until someone comes by, but shake your head and decide to follow the monkey's advice of walking right in. You know you trust the monkey with your life.</p>
        <p>The door's locked but that's fine right?</p>
        <a href="/breakin"><button class="button button1">Break into the house</button></a>
    </body>
</html>