<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Escape Island</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <h3>Enter Your Name:</h3>
        <form method="post">
            <label for="fname">First name:</label>
            <br />
            <input type="text" name="fname">
            <br />
            <label for="lname">Last name:</label>
            <br />
            <input type="text" name="lname">
            <br />
            <a href="/quiz"><button class="button button2">Start Your Journey</button></a>
        </form>
    </body>
</html>