<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>Cutting down the thick folds of the jungle isn't easy, but you manage to do it with a stick you found next to you and your determination.</p>
        <p>You're suddenly brought to a fork in the road. On the right you see a distant light which could potentially lead to your savior. On the left, lays a dark path, but you hear a stream of water coming from that direction. Which path do you choose?</p>
        <a href="/light"><button class="button button1">Follow the distant light</button></a>
        <a href="/stream"><button class="button button2">Follow the stream of water</button></a>
    </body>
</html>