<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>As you walk the path torwards the light, you eventually come across an abandoned lantern, which means that someone is or was close by</p>
        <p>Do you sit by the lantern and bask in its warmth (you deserve a break!) or do you take the pretty heavy lantern along with you?<p>
        <a href="/sit"><button class="button button1">Sit and take a break in the warmth</button></a>
        <a href="/take"><button class="button button2">Take the lantern with you</button></a>
    </body>
</html>