<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>The monkey leads you to outside the jungle and to the shore. Behind a few nooks and crannies, a boat lies perfectly untouched.</p>
        <p>He nods for you to get on, and you do. The two of you embrace and share a hearfelt parting. The monkey keeps the cheeto wrapper as a momento to you and sheds a few tears (not gonna lie, you probably did too), and you leave.</p>
        <p>As you leave on the boat, you turn towards the island. Who knows who was the island's owner after all...</p>
        <h1>YOU WIN!</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
    </body>
</html>