<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>The monkey is still staring at you, but now he's more interested in those cheetos of yours.</p>
        <p>You reach for your cheetos and hesitantly reach out to give him one. He snatches it from your hands, and you jump back.</p>
        <p>He nibbles, and nibbles, before swallowing it whole... and then you realize something.</p>
        <p>You realize that he bears a frightingely remarkable resemblance to Gordon Ramsey!</p>
        <p>Even more scared now, you cower as the monkey sits there contemplating the cheeto... is it up to his standards? Why is he looking at you like that? Is he expecting something?</p>
        <a href="/moncheetos2"><button class="button button1">Give him another cheeto. Actually no, just give him the whole packet.</button></a>
        <a href="/monnocheetos"><button class="button button2">Don't do anything. Stay very still.</button></a>
    </body>
</html>