<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>You begrudingly give the monkey your coconut. He probably wants it, right?</p>
        <p>The monkey sneers and shakes the coconut around, and it suddenly slips from your hands. You and the monkey look at each other with a shocked expression for a split second before the coconut falls on you and you crumple to the ground from the head injury.</p>
        <p>The monkey winces. He didn't mean to do that. Unfortanetely, you're already dead.</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
    </body>
</html>