<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>Trembling, you give the monkey your whole packet of cheetos. The monkey grabs it and subsequently devours them all.</p>
        <p>He has approved of your food choice by eating the cheetos-- he even licks the bag!</p>
        <p>The monkey nods and pats the spot next to him on the ground as a motion for you to sit by him. You do.</p>
        <p>You engage in conversation (well, more you than him, but he does respond with chirps and pats), and soon you have recounted your entire story since you got on the island so far.</p>
        <p>The monkey tsks pityingly and pats your shoulder, before waving at you as a signal to follow him. You do.</p>
        <p>He leads you to two paths, and with a flurry of sign language and chirping from the monkey, he manages to communicate that he can take you to two places: the shore so you can get out of the island on a boat he found nearby, or to the island's owner.</p>
        <p>Where do you want to go?</p>
        <a href="/moncheetos2"><button class="button button1">Shore. Get out of the island!</button></a> put leave here
        <a href="/monnocheetos"><button class="button button2">Find the Island's owner.</button></a> put island here
    </body>
</html>