<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>You stay very still in front of the monkey, refusing to give him anything, and the monkey narrows his eyes at you and mimics your expression.</p>
        <p>You frown. Did the monkey just give you attitude?</p>
        <p>The monkey reaches out, swipes both the coconut and the cheeto packet, and runs away. You stand there shellshocked, and dazedly continue your path towards nowhere.</p>
        <p>Due to the lack of food and water, you collapse on your journey a few days later.</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
    </body>
</html>