<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>Bro, you don't have a snickers. Give him something else.</p>
        <a href="/moncoco"><button class="button button1">Give him the coconut</button></a>
        <a href="/moncheetos"><button class="button button2">Give him a cheeto</button></a>
        <a href="/monnothing"><button class="button button1">Don't give him anything</button></a>
    </body>
</html>