<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>Well, your instrument of choice isn't really the best way to eat something, and probably not the most sanitary, and so you manage to scrape absolutely nothing but two meager bites of coconut delicacy.</p>
        <p>As you continue to trek throughout the jungle, you die of hunger.</p>        
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
        
    </body>
</html>