<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>You hesitatingly bring out the paper and give it to the man. Reading it over, the old man looks up and tells you that this doesn't mean anything.</p>
        <p>He throws you into a dungeon, and you are forced to live the rest of your days in servitude. Sadly you pass away with the rats as your only companion.</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
    </body>
</html>