<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/styles.css' />
        </style>
    </head>
    <body>
        <p>&#127965;You wake up one day on an island with no idea why. There is nothing but sea and water behind you for miles, and the best thing to do you decide, is to go forward.&#127965;</p>
        <a href="/base"><button class="button button2">Start Your Journey</button></a>
    </body>
</html>