<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>Turns out the driver was your only chance at reaching anhy sign of humanity, since you are utterly incaple of doing it on your own. Unfortanetely you lost your chance and you pass away from sheer exhaustion, thirst, and hunger.</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
        
    </body>
</html>