<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You were able to pick the lock, excellent!</p>
        <p>As you wander through the house you come face to face with a man who is pointing a gun at you.</p>
        <p>He yells at you to prove yourself. You dont know what to do and put your hands into your pockets. You feel the piece of paper from the beginning of your journey in one pocket. You also feel the pocket watch in your other pocket. What do you do?<p>
        <a href="/watch"><button class="button button1">Show him the pocket watch</button></a>
        <a href="/paper"><button class="button button2">Show him the piece of paper</button></a>
    </body>
</html>