<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You decide to save the coin. Who knows when you may need it later, and to be honest, the cheetos were looking a little musty anyway.</p>
        <p>As you make your way through the jungle, following the path the bus stop lead to, you see another flash of light like the one you saw at the beginning of your journey.</p>
        <p>As you continue to walk towards the light, you see a... plank of wood?</p>
        <a href="/house"><button class="button button1">Head towards the light</button></a>
    </body>
</html>