<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <p>You walk alongside the shore trying to figure out where to go or what to do</p>
        <p>You see a small opening in one of the palm trees you walk by </p>
        <p>Do you decide to test it out and try to figure out what it could be?  Or do you carry on and serach for stuff that will actually be crucial to your survial</p>
    </body>
</html>