<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>GAME OVER<h1>
        <p>You decided to sit by the fire.You take in its warmth ad give your aching body a well deserved break.Youre eyelids get heavy and before you know it you fall asleep.<p>
        <p>your sleeping form seems like a yummy meal to a tiger walking around.He devours you in a bite<p>
        <p>YOU DIED<p>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
        
    </body>
</html>