<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>As you are trudging through the jungle , You head the rumble of the engine of a vehicle. You race towards it and come across a truck. You flag down the driver and ask him for a ride. He says that will take you to the nearest house for any form of payment</p>
        <p> Out of the items in your inventory, What do you want to choose to pay him <p>
        <p> comment:INVENTORY DROPDOWN <p>
    </body>
</html>