<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>After throwing the cup of water away, you trudge through the jungle. All of a sudden you hear the rumble of the engine of a vehicle. You race towards it and come across a truck.</p>
        <p>Flagging down the driver, you ask him for a ride. He says that he will take you to the nearest house, but only if you pay him.</p>
        <p>Do you give him the coin or not?</p>
        <a href="/house2"><button class="button button1">Give him the coin</button></a>
        <a href="/rathernot"><button class="button button2">I'd rather not</button></a>
    </body>
</html>