<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You arrive at a small stream of water. You drink as much as you can, without taking a break. You realize you need to take some water to go, otherwise you won't be able to survive the thirst.</p>
        <p>Remembering the crinkle of foil in your pocket, you realize you have that tinfoil on you. You can either fashion a cup out of the tinfoil, or forage around for some other item that can hold water for you.</p>
        <a href="/foil"><button class="button button1">Use the tinfoil</button></a>
        <a href="/coconut"><button class="button button2">Forage around for something better</button></a>
    </body>
</html>