<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>As you're going torwards the stream, the path seems much darker than usual. You hesitate. Maybe you should turn back torwards the distant light instead.</p>
        <p>Do you want to go back?</p>
        <a href="/light"><button class="button button1">Go back</button></a>
        <a href="/streamgo"><button class="button button2">Keep on going</button></a>
    </body>
</html>