<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You take the lantern and leave,As you are walking thryou come across an old, abandoned bustop.And there you see the glorious outline of a vending machine infront of you.</p>
        <p> Inside the vending machine, You see your favorite hot cheetos on a HUGE DISCOUNT and remember the coin in your pocket<p>
        <p>Do you use the coin and get yourself the cheetos(After all , you havent had anything to eat?) Or do you save the coin cause you may need it later?<p>
        <a href="/buy"><button class="button button1">Buy the cheetos</button></a>
        <a href="/save"><button class="button button2">You save the coin for later </button></a>ough the dense forest, 
    </body>
</html>