<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You take the lantern with you and decide to trek forward. After what seems like forever, you come across an old abandoned Bus Stop.</p>
        <p>There doesn't seem to be any indication of a bus coming anytime soon and--- OHOHO, you see the glorious outline of a Vending Machine.</p>
        <p>Inside the vending machine, you see your favorite hot cheetos on a HUGE DISCOUNT and you remember the coin in your pocket.<p>
        <p>Do you use the coin and get yourself the cheetos (After all, you haven't had anything to eat yet), or do you save it?<p>
        <a href="/buy"><button class="button button1">Buy the cheetos</button></a>
        <a href="/save"><button class="button button2">Save the coin</button></a>
    </body>
</html>