<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/fail.css' />
    </head>
    <body>
        <h1>GAME OVER</h1>
        <p>You decide to wait outside. Sitting on the porch, a bear on its evening stroll thinks you look like a delicious meal and devours you whole.</p>
        <h1>YOU DIED</h1>
        <a href="/base"><button class="button button1">Click here to Play again</button></a>
    </body>
</html>