<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First, to start your journey:</title>
        <link rel='stylesheet' href='/static/jungle.css' />
    </head>
    <body>
        <h1>In the Jungle, the Mighty Jungle</h1>
        <p>You show him the watch!</p>
        <p>He drops the gun, and hugs you. He says that he's your Grandpa John.</p>
        <p>The both of you cry tears of rejoice, and he slings a hand around your shoulder and he shows you a picutre of the two of you when you were younger.<p>
        <p>The two of you live happily ever after!</p>
        <h1>YOU WIN!</h1>
        <a href="/base"><button class="button button1">Click here to play again</button></a>
    </body>
</html>